.key-loader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,0.9);
  text-align: center;
  padding-top: 48vh;
  z-index: 10000;
}

.enter-nickname {
	padding-top: 20vh;
}

.disconnected {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.chat-room {
  padding: 70px 0;
}

.room-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #efefef;
}

.room-name.locked {
  font-weight: bold;
}

.room-name .name {
  width: 100%;
  overflow: hidden;
  text-overflow: hidden;
}

.controls {
  white-space: nowrap;
}

.controls > * {
  margin-left: 5px;
  cursor: pointer;
}

.member-list {
  position: fixed;
  left: 0;
  top: 56px;
  bottom: 0px;
  overflow: auto;
  border-right: 1px solid #efefef;
  background: #f8f8f8;
  padding-top: 10px;
  padding-bottom: 10px;
}

.member-list ul {
  margin: 0 -15px;
}

.member-list li {
  padding: 0 15px;
}

.member-list .me {
  background: #efefef;
  font-style: italic;
}

message {
  display: block;
  padding-bottom: 10px;
}

message + message {
  padding-top: 10px;
  border-top: 1px solid #DDD;
}

.composer {
  position: fixed;
  left: 16.666667%;
  right: 0;
  bottom: 0;
  padding: 15px;
  background: #FFF;
  border-top: 1px solid #efefef;
  transition: all 0.2s;
}

.composer .form-group {
  margin: 0;
}

@media (max-width: 768px) {
  .composer {
    left: 0;
  }

  .chat-room {
    padding: 56px 0 70px 0;
  }

  .member-list,
  .message-list,
  .composer {
    transition: all 0.2s;
  }

  .member-list {
    height: 100%;
    bottom: 0;
    transform: translateX(100%);
  }

  .message-list {
    padding-top: 15px;
    top: 0;
  }
  /*
  .chat-room .container-fluid > .row > div {
    width: 100vw;
  }
  */
  ::ng-deep .member-list-active {
    overflow-x: hidden;
  }

  ::ng-deep .member-list-active .chat-room  .member-list {
    transform: translateX(0);
  }

  ::ng-deep .member-list-active .chat-room  .message-list {
    transform: translateX(-100%);
  }

  ::ng-deep .member-list-active .composer {
    transform: translateY(100%);
  }
}
